<link href="https://racktables.ca.jwm2.org/lsm/assets/css/bootstrap-responsive.css')?>" rel="stylesheet"> 
<div class="row show-grid" id="tblheading" naming="tblheading">
	<div class="span1">Branch</div>
	<div class="span1">Branch Switch Name</div>
	<div class="span1">Building</div>
	<div class="span1">Building Switch Name</div>
	<div class="span1">Room</div>
	<div class="span1">Room Switch Name</div>
</div>
<div class="row show-grid">
	<div class="span1">CAN</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2-144</div>
	<div class="span1"><a href="https://racktables.ca.jwm2.org/lsm/index.php/switches/details/2055">CAN-A2-144-SW-3</a></div>
</div>
<div class="row show-grid">
	<div class="span1">CAN</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2-152</div>
	<div class="span1"><a href="https://racktables.ca.jwm2.org/lsm/index.php/switches/details/2053">CAN-A2-152-SW-1</a></div>
</div>
<div class="row show-grid">
	<div class="span1">CAN</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2-152</div>
	<div class="span1"><a href="https://racktables.ca.jwm2.org/lsm/index.php/switches/details/2054">CAN-A2-152-SW-3</a></div>
</div>
<div class="row show-grid">
	<div class="span1">CAN</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2</div>
	<div class="span1"></div>
	<div class="span1">CAN-A2-165</div>
	<div class="span1"><a href="https://racktables.ca.jwm2.org/lsm/index.php/switches/details/2048">CAN-A2-165-SW-1</a></div>
</div>
